<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio de ayuda</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

<style>
    *{
        margin: 0;
        padding: 0;
    }
    .wrapper{
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    }
    .header{
        background-color: bisque;
        font-size: 50px;
        line-height: 100px;
        
    }    
    .text{
        font-size: 20px;
    }
    header nav{
        float: right;
        line-height: 80px;
    }
   


</style>
</head>
<body>
    <header class="header">
    <div class="wrapper">
        <div class="nombre">Centro de ayuda al cliente.
        <nav>
            <a href="{{ url_for('index') }}" class="btn btn-danger">Regresar</a>
        </nav>
        </div>
    </div>

    </header>
    <div class="alert alert-primary" role="alert">
        Tienes algún problema con la página?
      </div>
      <div class="alert alert-secondary" role="alert">
        No puedes iniciar sesión, tienes problemas con la cuenta?
      </div>
      <div class="alert alert-success" role="alert">
        Estas son preguntas, dudas, dificulaltades que sufren los usuarios...!
      </div>
</body>
<header clas="header2">
    <p class="text">Para tus consultas te dejamos los siguientes conctactos:</p>
</header>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Correo electrónico</th>
        <th scope="col">Teléfono</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Eduardo García</td>
        <td>Isla de Méndez</td>
        <td>usis013421@ugb.edu.sv</td>
        <td>7938-2321</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Miguel Ruiz</td>
        <td>San Pedro Arenales</td>
        <td>usis014721@ugb.edu.sv</td>
        <td>7023-4021</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Samuel Mejía</td>
        <td>San Dionisio</td>
        <td>usis935921@ugb.edu.sv</td>
        <td>7525-9876</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Óscar Velásquez</td>
        <td>San Dionisio</td>
        <td>usis935821@ugb.edu.sv</td>
        <td>7637-2918</td>
      </tr>
    </tbody>
  </table>

</html>