<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lector Inteligente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
   

    <style>
         *{
        margin: 0;
        padding: 0;
    }
    .navbar-brand{
        width: 100%;
        background: hsl(223, 39%, 53%);
        margin-bottom: 50px;
    }
    .navbar-brand img{
        width: 3%;
        
    }
    .container-fluid{
        width: 150%;
        line-height: 40px;
    }
    .w-full{
        height: 200px;
        width: 30%;

    }
    
    
</style>

</head>
<body>
    <center>
    <header class="header">
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img class="d-inline-block align-text-top" src="{{ url_for('static', filename='img/icom.png') }}" alt="Logo" width="30" height="24">
            Bienvenido a nuestro lector
          </a>
        </div>
      </nav>
    </header>
</center>
</body>
<body>
<div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Le damos la bienvenida a nuestra herramienta de visión inteligente en la cual con solo mostrar una imagen con texto a la cámara del lector, éste la leerá por ti y podrás escuchar lo que dice en el siguiente reproductor que esta justo debajo; también, tienes la opción de "Cerrar Sesión" que te envía a la página de login si es que deseas entrar con otro usuario.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-secondary" href="{{ url_for('logout') }}">Cerrar Sesión</a>
    </div>
  </div>
</div>
<body>
    <center>
    <body>
        <div class="badge bg-primary text-wrap" style="width: 5rem; color: rgb(255, 255, 255);">
            Camara
          </div>
    </body>
</center>

<center>
<title>Camara</title>
<head>
    <body>
        <div class="camera">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <video src="" id="video" autoplay="true"></video>
    </div>
    </body>
</center>


</head>
</body>
<section>
<body>
    <center>
        

        <header>
            <div class="rep">
            <audio controls=""  preload="metadata" class="w-full" playsinline="" crossorigin="anonymous" data-prop-src="result" src="https://nkprod-coredatastack-pa7jx42xiwhf-tasksbucket-13qb6gn1l5ooi.s3.amazonaws.com/19d20d11-ffaf-402f-bdad-1b405714aa6b/result.m4a?AWSAccessKeyId=AKIAUENQVYXORYD4N3EU&amp;Expires=1669165129&amp;Signature=zsbTBmI7uqqYBIy5KF3moPQnpmM%3D&amp;X-Amzn-Trace-Id=Root%3D1-637c1ec8-318cd355138decba772e2693%3BParent%3D795ef392057e4d5b%3BSampled%3D0&amp;response-content-disposition=attachment%3B%20filename%3D%22La%2520poblaci%25C3%25B3n%2520de%2520Madr.m4a%22">  
            </audio>
            </audio>
        </div>
        </header>

    </center>

</body>
</html>
    